<!DOCUTYPE html>
<!-- This website template was created by: Kendra Williams -->
<html lang="en">
<head>
	<title>Stitched By Ray</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
	<header>
	<a href="index.html"><img src="images/sbr_logo.png" alt="Stitched By Ray logo"></a>
	</header>
	
	<nav>
	<a href="index.html">Home</a> &nbsp; &nbsp;
	<a href="about.html">About Us</a> &nbsp; &nbsp;
	<a href="shop.html">Shop</a> &nbsp; &nbsp;
	<a href="contact.html">Contact Us</a> &nbsp; &nbsp;
	</nav>
	
	<main>
	</main>
	
	<footer>
	&copy; Copyright 2019. All Rights Reserved.<br>
	</footer>
</body>
</html>